<div class="container main-container">
  <div class="row">
    <div class="col-md-10">
      <h3>Datos del usuario</h3>
      <table class="table table-striped">
        <tbody>
          <tr>
            <th scope="row">Nombre</th>
            <td>{{user.name}}</td>

          </tr>
          <tr>
              <th scope="row">Correo</th>
              <td>{{user.email}}</td>
          </tr>
          <tr>
              <th scope="row">Usuario</th>
              <td>{{user.username}}</td>
          </tr>         
          <tr>
              <th scope="row">Controles</th>
              <td>
                <button type="button" class="btn btn-info">Modificar</button>
                <button type="button" class="btn btn-danger"
                mat-raised-button
                  matTooltip="Precaución, si eliminas a este afiliado ya no podrá ingresar al sistema"
                  matTooltipPosition="after"
                  matTooltipClass="medium-tooltip-danger"
                >
                  Eliminar
                </button>
              </td>
          </tr>
        </tbody>
      </table>
    </div>  
  </div>
</div>
