<div class="container main-container">
    <div class="row">
        <h1>Nuevo usuario</h1>
    </div>
    <div class="row">
        <div class="col-md-7">
            <form #f="ngForm" (ngSubmit)="addEmail(f)" ngNativeValidation>
                <!-- email DEL ASOCIADO -->
                <div class="form-group" [ngClass]="{'has-danger': email.errors?.required && email.touched}">
                    <label for="email">Email</label>
                    <input type="email" name="email" [(ngModel)]="position.email" class="form-control" placeholder="Ingresar email" #email="ngModel" required>
                    <div class="alert alert-danger" *ngIf="email.errors?.required && email.touched">
                        <small>Este campo es requerido</small>
                    </div>
                </div>

                <!-- Usuario externo DEL ASOCIADO -->
                <div class="form-group" [ngClass]="{'has-danger': external_username.errors?.required && external_username.touched}">
                    <label for="external_username">Usuario Mexicanos Unidos</label>
                    <input type="external_username" name="external_username" [(ngModel)]="position.external_username" class="form-control" placeholder="Ingresar usuario mexicanos unidos" #external_username="ngModel" required>
                    <div class="alert alert-danger" *ngIf="external_username.errors?.required && external_username.touched">
                        <small>Este campo es requerido</small>
                    </div>
                </div>

                <!-- Password externo DEL ASOCIADO -->
                <div class="form-group" [ngClass]="{'has-danger': external_password.errors?.required && external_password.touched}">
                    <label for="external_password">Password Mexicanos Unidos</label>
                    <input type="external_password" name="external_password" [(ngModel)]="position.external_password" class="form-control" placeholder="Ingresar password mexicanos unidos" #external_password="ngModel" required>
                    <div class="alert alert-danger" *ngIf="external_password.errors?.required && external_password.touched">
                        <small>Este campo es requerido</small>
                    </div>
                </div>

                <!-- NOMBRE DEL ASOCIADO -->
                <div class="form-group" [ngClass]="{'has-danger': name.errors?.required && name.touched}">
                    <label for="name">Nombre</label>
                    <input type="text" name="name" [(ngModel)]="position.associate.user.name" class="form-control" placeholder="Ingresar nombre" #name="ngModel" required>
                    <div class="alert alert-danger" *ngIf="name.errors?.required && name.touched">
                        <small>Este campo es requerido</small>
                    </div>
                </div>

                <!-- User DEL ASOCIADO -->
                <div class="form-group" [ngClass]="{'has-danger': username.errors?.required && username.touched}">
                    <label for="username">Usuario</label>
                    <input type="text" name="username" [(ngModel)]="position.associate.user.username" class="form-control" placeholder="Ingresar usuario" #username="ngModel" required>
                    <div class="alert alert-danger" *ngIf="username.errors?.required && username.touched">
                        <small>Este campo es requerido</small>
                    </div>
                </div>

                <!-- Password DEL ASOCIADO -->
                <div class="form-group" [ngClass]="{'has-danger': password.errors?.required && password.touched}">
                    <label for="password">Contraseña</label>
                    <input type="text" name="password" [(ngModel)]="position.associate.user.password" class="form-control" placeholder="Ingresar contraseña" #password="ngModel" required>
                    <div class="alert alert-danger" *ngIf="password.errors?.required && password.touched">
                        <small>Este campo es requerido</small>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Crear </button>


            </form>
        </div>

    </div>
</div>