<div class="big-container">
    <div class="row" *ngIf="associates.length<=0">
        <div class="col-md-12">
            <div class="alert alert-warning" role="alert">
                No hay afiliados nuevos de momento :)
            </div>
        </div>
    </div>
    <div class="row" *ngIf="associates.length>0">
        <div class="col-md-8">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Correo personal</th>
                        <th scope="col">Celular</th>
                        <th scope="col">Controles</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let associate of associates">
                        <th scope="row">{{associate.name}}</th>
                        <td>{{associate.personalEmail}}</td>
                        <td>{{associate.cellphone}}</td>
                        <td>
                            <button class="btn btn-info" (click)="selectedAssociate=associate"><i class="fas fa-eye"></i>Ver</button>
                            <button class="btn btn-primary" [routerLink]="['/newUser',associate._id]"> <i class="fas fa-cogs"></i>Usuario</button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="col-md-4" *ngIf="selectedAssociate">
            <div class="card">
                <div class="card-header">
                    {{selectedAssociate.name}}
                </div>
                <div class="card-body">
                    <table>
                        <tr>
                            <td>Tarjeta:</td>
                            <td> {{selectedAssociate.card}}</td>
                        </tr>
                        <tr>
                            <td>Cuenta:</td>
                            <td> {{selectedAssociate.account}}</td>
                        </tr>
                        <tr>
                            <td>Clabe:</td>
                            <td> {{selectedAssociate.clabe}}</td>
                        </tr>
                        <tr>
                            <td>Numero de tarjeta:</td>
                            <td> {{selectedAssociate.card}}</td>
                        </tr>
                        <tr>
                            <td>CURP:</td>
                            <td> {{selectedAssociate.curp}}</td>
                        </tr>
                        <tr>
                            <td>RFC:</td>
                            <td> {{selectedAssociate.rfc}}</td>
                        </tr>
                        <tr>
                            <td>RFC:</td>
                            <td> {{selectedAssociate.rfc}}</td>
                        </tr>
                        <tr>
                            <td>Direccion:</td>
                            <td> {{selectedAssociate.address}}</td>
                        </tr>
                        <tr>
                            <td>Fecha de nacimiento:</td>
                            <td> {{selectedAssociate.birthDate}}</td>
                        </tr>
                        <tr>
                            <td>Fecha de registro:</td>
                            <td> {{selectedAssociate.creationDate}}</td>
                        </tr>
                        <tr>
                            <td>Monto de pago:</td>
                            <td> ${{selectedAssociate.payAmmount}}</td>
                        </tr>
                        <tr>
                            <td colspan="2"><img [src]="selectedAssociate.paymentBaucher | imagen" class="w350"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>