<div class="container main-container">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    Sobre Logrando Sueños
                </div>
                <div class="card-body">
                    <p class="card-text">Somos un grupo de emprendedores independientes trabajando en equipo por un bien común.</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    Aviso de privacidad
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Ningun dato personal recopilado en su perfil es proporcionado a terceros ni se utiliza con fines de propaganda ni publicidad.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    Sobre el sitio Web
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Este sitio web ha sido desarrollado por Epic Devs, si le interesa contratar para un desarrollo de una aplicacion web puede enviar un correo a dann.santlar@gmail.com para obtener una cotización.
                        <br>

                    </p>

                </div>
            </div>
        </div>
    </div>
</div>