<div class="container main-container">

    <div class="row">
        <div class="col-md-5">
            <u> <h1 style="text-align: center;">¿Quiénes somos?</h1></u>
            <h3>Un grupo de emprendedores independientes trabajando en equipo para un bien común con Mexicanos Unidos. </h3>
            <br>
            <h3>Súmate al equipo, sé protagonista.</h3>
            <hr>
            <h1>LOGRANDO SUEÑOS 7</h1>
        </div>
        <div class="col-md-7 card" *ngIf="!_userService.isAuthenticated()">
            <h2>Iniciar sesion</h2>
            <form #f="ngForm" (ngSubmit)="loginUser(f)" ngNativeValidation>
                <div class="form-group">
                    <label for="email">Correo electronico</label>
                    <input type="email" name="email" [(ngModel)]="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Ingresar email" required>

                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" [(ngModel)]="password" class="form-control" id="password" placeholder="Ingresar Password" required>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" name="remember" [(ngModel)]="remember" id="remember">
                    <label class="form-check-label" for="remember">Recordar credenciales</label>
                </div>
                <button type="submit" class="btn btn-primary">Ingresar</button>
            </form>
        </div>
        <div class="col-md-7" *ngIf="_userService.isAuthenticated()">
            <img src="assets/img/dreams.png" class="img-fluid">
        </div>

    </div>

</div>