<div class="container main-container">
    <div class="jumbotron">
        <h1 class="display-4">Bienvenido {{associate.name}} </h1>
        <h1 class="display-4"> Tu registro ha sido completado exitosamente 😃</h1>
        <p class="lead">Hemos almacenado correcta tu informacion de registro.</p>
        <hr class="my-4">
        <p>En breve, enviaremos a tu correo personal información para el inicio de sesión</p>

        <a class="btn btn-primary btn-lg" routerLink="/home" role="button">Regresar a la pagina principal <i class="fas fa-home"></i></a>
    </div>
</div>